@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #DCD7C9;
}
body{
    margin: 0;
}

html{

}

.is-not-visible{
    visibility: hidden;
}


.library-container{
    background-color: #1e262a;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 870px;
    padding: 10px;
}

.book-container{
    padding: 25px 20px 10px;
    position: relative;
    margin: 10px;
    background-color: #3F4E4F;
    height: 208px;
    width: 208px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 3px 3px 2px 2px #161e24;
    border-radius: 51px;
}

.book-container > * {
    text-align: center;
    overflow-wrap: anywhere;
    margin: 0;
}

.book-title{
    font-size: 1.5rem;
}

.button-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    top: 3px;
}

.book-button{
    border-radius: 20px;
    background: transparent;
    border: solid transparent;
}

.book-button:hover{
    border: revert;
}

.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000ad;
    top: 0px;
}

.z-index-1{
    z-index: 1;
}

.z-index-2{
    z-index: 2;
}

.new-book-form, .edit-book-form {
    position: fixed;
    background: #3F4E4F;
    display: flex;
    flex-flow: column wrap;
    left: calc((100% - 20rem)/2);
    top: 91px;
    height: 20rem;
    width: 20rem;
    justify-content: space-around;
    padding: 20px;
    border-radius: 20px;
}

.input-containers {
    display: flex;
    justify-content: space-between;
}

.input-containers > input {
    background: transparent;
}

.new-book-btn-div{
    display: flex;
    height: 70px;
    width: 100%;
    background: #1e262a;
    align-items: center;
}

.new-book-button, .submit-new-book-button, .edit-book-button{
    margin: 0 auto;
    height: 2.5rem;
    width: 16.5rem;
    background: #3F4E4F;
    font-size: 1.2rem;
    border-radius: 20px;
}

.read-check-true{
    background-color: rgba(0, 128, 0, 0.466);
    width: 50%;
    border-radius: 20px;

}

.read-check-false{
    background-color: rgba(255, 0, 0, 0.507);
    width: 50%;
    border-radius: 20px;
}

.title-div {
    display: flex;
    justify-content: center;
    flex-flow: column;
    background: #2C3639;
    align-items: center;
    box-shadow: 1px 1px 10px 2px #000000;
    position: relative;
}
